$color-primary: #00a0ff;
$color-ascent: #002fff;
$color-white: #ffffff;
$color-black: #050505;
$color-grey: hsl(5, 5%, 15%);
$color-grey-light: hsl(0, 0%, 95%);
$color-grey-light-2: hsl(0, 0%, 75%);

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.6;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $color-ascent;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

button,
input,
input[type='checkbox'] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

// Media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}
@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
