/* line 9, scss/_base.scss */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

/* line 18, scss/_base.scss */
body {
  line-height: 1.6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* line 23, scss/_base.scss */
ul {
  list-style: none;
  padding: 0; }

/* line 28, scss/_base.scss */
a {
  text-decoration: none;
  color: #000; }

/* line 33, scss/_base.scss */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #002fff; }

/* line 40, scss/_base.scss */
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem; }

/* line 46, scss/_base.scss */
button,
input,
input[type='checkbox'] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit; }

/* line 3, scss/main.scss */
.container {
  width: 80%;
  margin-inline: auto;
  max-width: 900px; }

/* line 9, scss/main.scss */
.side-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px; }
  /* line 21, scss/main.scss */
  .side-bar li {
    margin-bottom: 1.1rem; }
    /* line 24, scss/main.scss */
    .side-bar li a {
      padding-block: 0.75rem;
      padding-inline: 1rem; }

/* line 31, scss/main.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 37, scss/main.scss */
.menu-btn {
  font-size: 1.5rem;
  cursor: pointer; }

/* line 42, scss/main.scss */
.show-sidebar {
  width: 18vw;
  max-width: 300px; }

/* line 47, scss/main.scss */
.question-text {
  font-size: 1.2rem;
  margin-bottom: 1rem; }

/* line 52, scss/main.scss */
.question ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem 0; }
  /* line 57, scss/main.scss */
  .question ul li {
    outline: 1px solid #282524;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    /*gives the radio button white outer ring*/
    /*gives radio button orange fill when clicked*/ }
    /* line 64, scss/main.scss */
    .question ul li label {
      display: inline-block;
      margin-left: 0.25rem;
      flex: 1;
      padding: 0.75rem;
      height: 100%; }
    /* line 73, scss/main.scss */
    .question ul li input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 2px;
      left: -1px;
      position: relative;
      background-color: #f2f2f2;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid #002fff; }
    /* line 88, scss/main.scss */
    .question ul li input[type='radio']:checked:after {
      width: 18px;
      height: 18px;
      border-radius: 18px;
      top: 2px;
      left: -2px;
      position: relative;
      background-color: #002fff;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid #ffffff; }
    /* line 102, scss/main.scss */
    .question ul li input[type='radio'] {
      height: 1.5rem;
      transform: scale(1.25);
      margin-left: 0.75rem; }
    /* line 107, scss/main.scss */
    .question ul li:hover {
      background: #f2f2f2; }

/* line 113, scss/main.scss */
.question {
  flex: 1; }

/* line 117, scss/main.scss */
.response {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 50px;
  padding-block: 0.25rem;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2; }

/* line 130, scss/main.scss */
.btn {
  background: transparent;
  outline: none;
  border: 0;
  padding: 0.15rem 0.75rem;
  font-size: 0.95rem;
  font-weight: 400; }
  /* line 138, scss/main.scss */
  .btn-primary {
    color: #ffffff;
    background: #002fff; }

/* line 1, scss/_util.scss */
.flex-col {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem); }

/* line 7, scss/_util.scss */
.flex-row {
  display: flex;
  justify-content: space-between; }

/* line 12, scss/_util.scss */
.disabled {
  opacity: 0.5;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed; }

/* line 20, scss/_util.scss */
.message {
  padding: 1rem;
  margin-bottom: 1.25rem; }

/* line 24, scss/_util.scss */
.info {
  background: #f2f2f2; }

/* line 28, scss/_util.scss */
.green-info {
  background: #002fff;
  color: #ffffff; }

/* line 32, scss/_util.scss */
.red-info {
  background: #f38b8b;
  color: #ffffff; }

/* line 37, scss/_util.scss */
.hidden {
  display: none; }

/* line 41, scss/_util.scss */
.show {
  display: block; }

/* line 45, scss/_util.scss */
.current {
  font-weight: bold; }

/* line 147, scss/main.scss */
.step {
  margin-bottom: 1.5rem; }
  /* line 150, scss/main.scss */
  .step h2 {
    margin-bottom: 0rem; }

/* line 157, scss/main.scss */
.about-info p {
  margin-bottom: 1rem;
  font-size: 1.1rem; }

/* line 164, scss/main.scss */
.contact-form {
  color: #282524; }
  /* line 167, scss/main.scss */
  .contact-form .form-title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    /* line 172, scss/main.scss */
    .contact-form .form-title span {
      color: #282524; }
  /* line 177, scss/main.scss */
  .contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    /* line 182, scss/main.scss */
    .contact-form .form-group input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #bfbfbf;
      font-size: 1.05rem;
      outline: none;
      font-weight: bold; }
    /* line 191, scss/main.scss */
    .contact-form .form-group input:focus {
      border: 1px solid #002fff;
      outline: 1.75px solid #002fff; }
  /* line 197, scss/main.scss */
  .contact-form .bottom-row {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    /* line 202, scss/main.scss */
    .contact-form .bottom-row .terms {
      display: flex;
      align-items: flex-start; }
      /* line 206, scss/main.scss */
      .contact-form .bottom-row .terms input[type='checkbox'] {
        margin-right: 0.5rem; }
      /* line 209, scss/main.scss */
      .contact-form .bottom-row .terms label {
        display: inline-block;
        line-height: 0.8rem;
        font-size: 0.95rem;
        max-width: 400px; }
    /* line 217, scss/main.scss */
    .contact-form .bottom-row .buttons {
      font-size: 1.05rem; }
      /* line 220, scss/main.scss */
      .contact-form .bottom-row .buttons .btn {
        font-size: inherit;
        padding: 0.5rem 1rem; }
      /* line 224, scss/main.scss */
      .contact-form .bottom-row .buttons .btn-reset {
        color: #002fff;
        font-weight: bold; }

@media screen and (max-width: 768px) {
  /* line 11, scss/_mediaquery.scss */
  .contact-form .form-title span {
    font-size: 0.9rem; }
  /* line 15, scss/_mediaquery.scss */
  .contact-form .bottom-row {
    flex-direction: column; }
    /* line 18, scss/_mediaquery.scss */
    .contact-form .bottom-row .terms {
      width: 100%;
      display: flex; }
      /* line 21, scss/_mediaquery.scss */
      .contact-form .bottom-row .terms label {
        font-size: 0.78rem;
        flex: 1; }
    /* line 27, scss/_mediaquery.scss */
    .contact-form .bottom-row .buttons {
      display: flex;
      width: 100%;
      margin-top: 1.5rem; }
      /* line 32, scss/_mediaquery.scss */
      .contact-form .bottom-row .buttons .btn {
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
        flex: 1; }
      /* line 38, scss/_mediaquery.scss */
      .contact-form .bottom-row .buttons .btn-reset {
        flex: 1; } }
